.nav {
  display: flex;
  gap: 15px;
  justify-content: center;

  background: darkblue;

  .link {
    color: #fff;
    text-decoration: none;
    padding: 25px 5px;
    font-size: 24px
  }
}

.container {
  padding: 0 25px;
  max-width: 1200px;
  margin: 0 auto;
}